html {
    scroll-snap-type: y mandatory;
}

.img-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

.img-container > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sectionTwo{
    justify-content: flex-start;
    padding: 120px;
}

@media (max-width: 500px) {
    .img-container > div {
        flex-direction: column;
    }
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: #4ff0b7;
    bottom: 50px;
    transform: scaleX(0);
}